$font-poppins: "Poppins", serif;

$color-red: #EA5454;
$color-aqua: #44D3D2;
$color-orange: #FCAE4A;
$color-blue: #549EF2;
$color-gray: #4D4F62;

$fs-36:2.25rem;
$fs-24:1.5rem;
$fs-20:1.25rem;
$fs-15:0.938rem;
$fs-13:0.813rem;
